{
  "swagger": "2.0",
  "info": {
    "title": "AzureBareMetalManagementClient",
    "description": "The Azure BareMetal Management Client.",
    "version": "2020-08-06-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.BareMetalInfrastructure/bareMetalInstances": {
      "get": {
        "tags": [
          "BareMetalInfrastructure"
        ],
        "operationId": "BareMetalInstances_List",
        "summary": "Gets a list of Azure BareMetal instances in the specified subscription.",
        "description": "Gets a list of AzureBareMetal instances in the specified subscription. The operations returns various properties of each Azure BareMetal instance.",
        "x-ms-examples": {
          "List all HANA instances in a subscription": {
            "$ref": "./examples/AzureBareMetalInstances_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AzureBareMetalInstancesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BareMetalInfrastructure/AzureBareMetalInstances": {
      "get": {
        "tags": [
          "BareMetalInfrastructure"
        ],
        "operationId": "AzureBareMetalInstances_ListByResourceGroup",
        "summary": "Gets a list of Azure BareMetal instances in the specified subscription and the resource group.",
        "description": "Gets a list of Azure BareMetal instances in the specified subscription and the resource group. The operations returns various properties of each Azure BareMetal on Azure instance.",
        "x-ms-examples": {
          "List all HANA instances in a resource group": {
            "$ref": "./examples/AzureBareMetalInstances_ListByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AzureBareMetalInstancesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BareMetalInfrastructure/AzureBareMetalInstances/{hanaInstanceName}": {
      "get": {
        "tags": [
          "BareMetalInfrastructure"
        ],
        "operationId": "AzureBareMetalInstances_Get",
        "summary": "Gets properties of a Azure BareMetal instance.",
        "description": "Gets properties of a Azure BareMetal instance for the specified subscription, resource group, and instance name.",
        "x-ms-examples": {
          "Get properties of a HANA instance": {
            "$ref": "./examples/AzureBareMetalInstances_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AzureBareMetalInstanceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AzureBareMetalInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "BareMetalInfrastructure"
        ],
        "operationId": "AzureBareMetalInstances_Create",
        "x-ms-long-running-operation": true,
        "summary": "Creates a Azure BareMetal instance.",
        "description": "Creates a Azure BareMetal instance for the specified subscription, resource group, and instance name.",
        "x-ms-examples": {
          "Get properties of a HANA instance": {
            "$ref": "./examples/AzureBareMetalInstances_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AzureBareMetalInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/AzureBareMetalInstanceParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Created AzureBareMetalInstance",
            "schema": {
              "$ref": "#/definitions/AzureBareMetalInstance"
            }
          },
          "201": {
            "description": "Creating AzureBareMetalInstance",
            "schema": {
              "$ref": "#/definitions/AzureBareMetalInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "BareMetalInfrastructure"
        ],
        "operationId": "AzureBareMetalInstances_Delete",
        "x-ms-long-running-operation": true,
        "summary": "Deletes a Azure BareMetal instance.",
        "description": "Deletes a Azure BareMetal instance with the specified subscription, resource group, and instance name.",
        "x-ms-examples": {
          "Get properties of a HANA instance": {
            "$ref": "./examples/AzureBareMetalInstances_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AzureBareMetalInstanceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted AzureBareMetalInstance"
          },
          "202": {
            "description": "Deleting AzureBareMetalInstance"
          },
          "204": {
            "description": "No AzureBareMetalInstance to delete"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "BareMetalInfrastructure"
        ],
        "operationId": "AzureBareMetalInstances_Update",
        "summary": "Patches the Tags field of a Azure BareMetal instance.",
        "description": "Patches the Tags field of a Azure BareMetal instance for the specified subscription, resource group, and instance name.",
        "x-ms-examples": {
          "Update Tags field of a HANA instance": {
            "$ref": "./examples/AzureBareMetalInstances_PatchTags.json"
          },
          "Delete Tags field of a HANA instance": {
            "$ref": "./examples/AzureBareMetalInstances_PatchTags_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AzureBareMetalInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/TagsParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AzureBareMetalInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BareMetalInfrastructure/AzureBareMetalInstances/{hanaInstanceName}/restart": {
      "post": {
        "tags": [
          "BareMetalInfrastructure"
        ],
        "operationId": "AzureBareMetalInstances_Restart",
        "x-ms-long-running-operation": true,
        "description": "The operation to restart a Azure BareMetal instance.",
        "x-ms-examples": {
          "Restart a HANA instance": {
            "$ref": "./examples/AzureBareMetalInstances_Restart.json"
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AzureBareMetalInstanceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BareMetalInfrastructure/AzureBareMetalInstances/{hanaInstanceName}/start": {
      "post": {
        "tags": [
          "BareMetalInfrastructure"
        ],
        "operationId": "AzureBareMetalInstances_Start",
        "x-ms-long-running-operation": true,
        "description": "The operation to start a Azure BareMetal instance.",
        "x-ms-examples": {
          "Start a HANA instance": {
            "$ref": "./examples/AzureBareMetalInstances_Start.json"
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AzureBareMetalInstanceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.BareMetalInfrastructure/AzureBareMetalInstances/{hanaInstanceName}/shutdown": {
      "post": {
        "tags": [
          "BareMetalInfrastructure"
        ],
        "operationId": "AzureBareMetalInstances_Shutdown",
        "x-ms-long-running-operation": true,
        "description": "The operation to shutdown an Azure BareMetal instance.",
        "x-ms-examples": {
          "Shutdown a HANA instance": {
            "$ref": "./examples/AzureBareMetalInstances_Shutdown.json"
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AzureBareMetalInstanceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "description": "The resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource ID"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "x-ms-azure-resource": true
    },
    "AzureBareMetalInstancesListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzureBareMetalInstance"
          },
          "description": "The list of Azure BareMetal on Azure instances."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of HANA instances."
        }
      },
      "description": "The response from the List HANA Instances operation."
    },
    "AzureBareMetalInstance": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AzureBareMetalInstanceProperties",
          "description": "HANA instance properties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "HANA instance info on Azure (ARM properties and HANA properties)"
    },
    "AzureBareMetalInstanceProperties": {
      "properties": {
        "hardwareProfile": {
          "$ref": "#/definitions/HardwareProfile",
          "description": "Specifies the hardware settings for the HANA instance."
        },
        "storageProfile": {
          "$ref": "#/definitions/StorageProfile",
          "description": "Specifies the storage settings for the HANA instance disks."
        },
        "osProfile": {
          "$ref": "#/definitions/OSProfile",
          "description": "Specifies the operating system settings for the HANA instance."
        },
        "networkProfile": {
          "$ref": "#/definitions/NetworkProfile",
          "description": "Specifies the network settings for the HANA instance."
        },
        "hanaInstanceId": {
          "readOnly": true,
          "type": "string",
          "description": "Specifies the HANA instance unique ID."
        },
        "powerState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "starting",
            "started",
            "stopping",
            "stopped",
            "restarting",
            "unknown"
          ],
          "x-ms-enum": {
            "name": "AzureBareMetalInstancePowerStateEnum",
            "modelAsString": true
          },
          "description": "Resource power state"
        },
        "proximityPlacementGroup": {
          "readOnly": true,
          "type": "string",
          "description": "Resource proximity placement group"
        },
        "hwRevision": {
          "readOnly": true,
          "type": "string",
          "description": "Hardware revision of a HANA instance"
        },
        "partnerNodeId": {
          "type": "string",
          "description": "ARM ID of another AzureBareMetalInstance that will share a network with this AzureBareMetalInstance"
        },
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "Accepted",
            "Creating",
            "Updating",
            "Failed",
            "Succeeded",
            "Deleting",
            "Migrating"
          ],
          "x-ms-enum": {
            "name": "HanaProvisioningStatesEnum",
            "modelAsString": true
          },
          "description": "State of provisioning of the AzureBareMetalInstance"
        }
      },
      "description": "Describes the properties of an AzureBareMetal instance."
    },
    "HardwareProfile": {
      "properties": {
        "hardwareType": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "Cisco_UCS",
            "HPE"
          ],
          "x-ms-enum": {
            "name": "AzureBareMetalHardwareTypeNamesEnum",
            "modelAsString": true
          },
          "description": "Name of the hardware type (vendor and/or their product name)"
        },
        "azureBareMetalInstanceSize": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "S72m",
            "S144m",
            "S72",
            "S144",
            "S192",
            "S192m",
            "S192xm",
            "S96",
            "S112",
            "S224",
            "S224m",
            "S224om",
            "S224oo",
            "S224oom",
            "S224ooo",
            "S384",
            "S384m",
            "S384xm",
            "S384xxm",
            "S448",
            "S448m",
            "S448om",
            "S448oo",
            "S448oom",
            "S448ooo",
            "S576m",
            "S576xm",
            "S672",
            "S672m",
            "S672om",
            "S672oo",
            "S672oom",
            "S672ooo",
            "S768",
            "S768m",
            "S768xm",
            "S896",
            "S896m",
            "S896om",
            "S896oo",
            "S896oom",
            "S896ooo",
            "S960m"
          ],
          "x-ms-enum": {
            "name": "azureBareMetalInstanceSizeNamesEnum",
            "modelAsString": true
          },
          "description": "Specifies the HANA instance SKU."
        }
      },
      "description": "Specifies the hardware settings for the HANA instance."
    },
    "Disk": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The disk name."
        },
        "diskSizeGB": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the size of an empty data disk in gigabytes."
        },
        "lun": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Specifies the logical unit number of the data disk. This value is used to identify data disks within the VM and therefore must be unique for each data disk attached to a VM."
        }
      },
      "description": "Specifies the disk information fo the HANA instance"
    },
    "StorageProfile": {
      "properties": {
        "nfsIpAddress": {
          "readOnly": true,
          "type": "string",
          "description": "IP Address to connect to storage."
        },
        "osDisks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Disk"
          },
          "description": "Specifies information about the operating system disk used by the hana instance."
        }
      },
      "description": "Specifies the storage settings for the HANA instance disks."
    },
    "OSProfile": {
      "properties": {
        "computerName": {
          "type": "string",
          "description": "Specifies the host OS name of the HANA instance."
        },
        "osType": {
          "readOnly": true,
          "type": "string",
          "description": "This property allows you to specify the type of the OS."
        },
        "version": {
          "readOnly": true,
          "type": "string",
          "description": "Specifies version of operating system."
        },
        "sshPublicKey": {
          "type": "string",
          "description": "Specifies the SSH public key used to access the operating system."
        }
      },
      "description": "Specifies the operating system settings for the HANA instance."
    },
    "NetworkProfile": {
      "properties": {
        "networkInterfaces": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IpAddress"
          },
          "description": "Specifies the network interfaces for the HANA instance."
        },
        "circuitId": {
          "readOnly": true,
          "type": "string",
          "description": "Specifies the circuit id for connecting to express route."
        }
      },
      "description": "Specifies the network settings for the HANA instance disks."
    },
    "IpAddress": {
      "properties": {
        "ipAddress": {
          "type": "string",
          "description": "Specifies the IP address of the network interface."
        }
      },
      "description": "Specifies the IP address of the network interface."
    },
    "OperationList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "List of HANA operations"
        }
      },
      "description": "List of HANA operations"
    },
    "Operation": {
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the operation being performed on this particular object. This name should match the action name that appears in RBAC / the event service."
        },
        "display": {
          "$ref": "#/definitions/Display",
          "description": "Displayed HANA operation information"
        }
      },
      "description": "HANA operation information"
    },
    "Display": {
      "type": "object",
      "properties": {
        "provider": {
          "readOnly": true,
          "type": "string",
          "description": "The localized friendly form of the resource provider name. This form is also expected to include the publisher/company responsible. Use Title Casing. Begin with \"Microsoft\" for 1st party services."
        },
        "resource": {
          "readOnly": true,
          "type": "string",
          "description": "The localized friendly form of the resource type related to this action/operation. This form should match the public documentation for the resource provider. Use Title Casing. For examples, refer to the “name” section."
        },
        "operation": {
          "readOnly": true,
          "type": "string",
          "description": "The localized friendly name for the operation as shown to the user. This name should be concise (to fit in drop downs), but clear (self-documenting). Use Title Casing and include the entity/resource to which it applies."
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "The localized friendly description for the operation as shown to the user. This description should be thorough, yet concise. It will be used in tool-tips and detailed views."
        },
        "origin": {
          "readOnly": true,
          "type": "string",
          "description": "The intended executor of the operation; governs the display of the operation in the RBAC UX and the audit logs UX. Default value is 'user,system'"
        }
      },
      "description": "Detailed HANA operation information"
    },
    "ErrorResponse": {
      "description": "Describes the format of Error response.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      }
    },
    "Tags": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Tags field of the HANA instance."
        }
      },
      "description": "Tags field of the HANA instance."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "AzureBareMetalInstanceNameParameter": {
      "name": "hanaInstanceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name of the Azure BareMetal on Azure instance.",
      "x-ms-parameter-location": "method"
    },
    "SapMonitorNameParameter": {
      "name": "sapMonitorName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name of the SAP monitor resource.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client API version."
    },
    "TagsParameter": {
      "name": "tagsParameter",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/Tags"
      },
      "description": "Request body that only contains the new Tags field",
      "x-ms-parameter-location": "method"
    },
    "AzureBareMetalInstanceParameter": {
      "name": "hanaInstanceParameter",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/AzureBareMetalInstance"
      },
      "description": "Request body representing a AzureBareMetalInstance",
      "x-ms-parameter-location": "method"
    }
  }
}
